faiss-cpu
langchain
langchain-core
langchain-huggingface
langchainhub
pandas
python-dotenv
sentence-transformers
spacy
streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
numpy==1.26.4